body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* debt - added becauase of diagramming https://github.com/projectstorm/react-diagrams/issues/598#issuecomment-635924991 */
.canvas {
    height: 900px;
    width: 1550px;
    background-color: rgba(112, 111, 111, 0.098);
}
