@import '~antd/dist/antd.css';

/* .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
} */
.logo {
    /* height: 48px; */
    /* background: rgba(255, 255, 255, 0.2); */
    margin-top: 16px;
    margin-left: 7px;
    margin-bottom: 16px;
    margin-right: 0px;
}

/* remove the site-layout related background color to have it in coold dark blue */
.site-layout .site-layout-background {
    background: #fff;
}

/* .App {
    text-align: center;
} */

/* .App-logo {
    height: 10vmin;
    width: 20vmin;
    pointer-events: none;
} */

/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */

/* .App-link {
    color: #61dafb;
} */
